@if (_isOpen)
{
    <div class="modal" tabindex="-1" role="dialog" id="addPublisherModal" style="display: block; background: rgba(0, 0, 0, 0.5);">
        <div class="modal-dialog  modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">@_modalButtonsText</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" @onclick="CloseModal">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body my-3">
                        <form @onsubmit="CreateBook">
                            <div class="mb-3">
                                <label for="title" class="form-label">Title</label>
                                <input type="text" class="form-control" id="title" @bind="_bookCreateDto.Title" required />
                            </div>
                    
                            <div class="mb-3">
                                <label for="year" class="form-label">Year of Publishing</label>
                                <input type="number" class="form-control" id="year" @bind="_bookCreateDto.YearOfPublishing" required />
                            </div>
                    
                            <div class="mb-3">
                                <label for="pages" class="form-label">Number of Pages</label>
                                <input type="number" class="form-control" id="pages" @bind="_bookCreateDto.NumberOfPages" required />
                            </div>
                    
                            <div class="mb-3">
                                <label for="description" class="form-label">Description</label>
                                <textarea class="form-control" id="description" @bind="_bookCreateDto.Description" required></textarea>
                            </div>
                    
                            <div class="mb-3">
                                <label for="isbn" class="form-label">ISBN</label>
                                <input type="text" class="form-control" id="isbn" @bind="_bookCreateDto.ISBN" required />
                            </div>
                    
                            <div class="mb-3">
                                <label for="image" class="form-label">Image</label>
                                <InputFile id="image" class="form-control" OnChange="HandleFileUpload" />
                            </div>
                            
                            <div class="mb-3">
                                <label for="author" class="form-label">Author</label>
                                <div>
                                    <RadzenDropDownDataGrid id="author" @bind-Value="@SelectedAuthor" Data="@AuthorsList.Select(a => (a.Name + " " + a.Surname))" TValue="string" />
                                </div>
                                <AuthorModal OnAuthorAdded="AddNewAuthor"/>
                            </div>
                            <div class="mb-3">
                                <label for="language" class="form-label">Language</label>
                                <div>
                                    <RadzenDropDownDataGrid id="language" @bind-Value="@SelectedLanguage" Data="@LanguagesList.Select(l => l.LanguageName)" TValue="string" />
                                </div>
                                <LanguageModal OnLanguageAdded="AddNewLanguage"/>
                            </div>
                            <div class="mb-3">
                                <label for="genre" class="form-label">Genre</label>
                                <div>
                                    <RadzenDropDownDataGrid id="genre" @bind-Value="@SelectedGenre" Data="@GenresList.Select(g => g.Name)" TValue="string" />
                                </div>
                                <GenreModal OnGenreAdded="AddNewGenre"/>
                            </div>
                            <div class="mb-3">
                                <label for="publisher" class="form-label">Publisher</label>
                                <div>
                                    <RadzenDropDownDataGrid id="publisher" @bind-Value="@SelectedPublisher" Data=@PublishersList.Select(p => p.Name) TValue="string" />
                                </div>
                                <PublisherModal OnPublisherAdded="AddNewPublisher"/>
                            </div>
                            <button type="submit" class="btn btn-primary">Create Book</button>
                        </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" @onclick="CloseModal">Close</button>
                </div>
            </div>
        </div>
    </div>
}

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addPublisherModal" @onclick="OpenModal">
    @_modalButtonsText
</button>